<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit Good Info</title>
        <div th:replace="fragments/navbar :: header-css"></div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
    <div th:replace="fragments/navbar :: header"></div>
    <br><br><br><br><br>

    <div class="page-content">
            <div id="good-edit">
                <form method="POST" th:action="${add} ? @{/good/add} : @{/good/save/{id}(id=${good.id})}" th:object="${good}">

                    <div class="form-group">
                        <label for="fullName">Name</label>
                        <input class="form-control" type="text" th:field="*{name}" id="fullName" placeholder="Full Name">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="form-group">
                        <label for="good-price">Price</label>
                        <input class="form-control" type="number" min="0.01" step="0.01" th:field="*{price}"
                               id="good-price" placeholder="price" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>
                    <div class="form-group">
                        <label for="good-company">Company</label>
                        <input class="form-control" type="text" th:field="*{company}" id="good-company" placeholder="company">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></div>
                    </div>
                    <div class="form-group">
                        <label for="good-assembly-place">Made in</label>
                        <input class="form-control" type="text" th:field="*{assemblyPlace}" id="good-assembly-place"
                               placeholder="assembly-place">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('assemblyPlace')}" th:errors="*{assemblyPlace}"></div>
                    </div>
                    <div class="form-group">
                        <label for="good-quantity">Quantity</label>
                        <input class="form-control" type="number" min="0" th:field="*{quantity}"
                               id="good-quantity" placeholder="quantity" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
                        <div class="form-group">
                            <label for="good-description">Description</label>
                            <input class="form-control" type="text" th:field="*{description}" id="good-description"
                                   placeholder="description">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}"
                                 th:errors="*{description}"></div>
                        </div>
                    <label for="good-type">Type:</label>
                    <br>
                    <select class="form-select" id="good-type" th:field="*{appType}" name="good-type-id" size="4" required>
                        <option class="o" th:each="type : ${types}"
                                th:value="${type.id}"
                                th:text="${type.name}">
                        </option>
                    </select>
                    <br>
                    <br>
                    <button id="save-good-button" class="btn btn-success" type="submit">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
