<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Goods</title>
    <div th:replace="fragments/navbar :: header-css"></div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>

<div th:replace="fragments/navbarGoods :: header"></div>

<form class="d-flex" role="search" method="GET" action="/goodsFound">
    <input class="form-control me-2" name="good-query" type="search" placeholder="Search"
           aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<th:block th:each="good : ${goods}">
    <div class="product-card">
        <div class="badge">Hot</div>
        <div class="product-tumb">
            <img th:src="${good.image}" th:alt="${good.name}">
            <!--
                        <img src="https://i.imgur.com/xdbHo4E.png" alt="">
            -->
        </div>
        <div class="product-details">
            <span class="product-catagory" th:text="${good.appType.name}"></span>
            <h4>
                <a th:href="@{/goodInfo/{id}(id=${good.id})}">
                    <span th:text="${good.name}"></span>
                </a>
            </h4>
            <p th:text="${good.description}"></p>
            <div class="product-bottom-details">
                <div class="product-price" th:text="${good.price}"></div>
                <!--
                                <div class="product-links">
                                    <a href=""><i class="fa fa-heart"></i></a>
                                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                                </div>
                -->
            </div>
        </div>
    </div>
</th:block>

<div class="sidenav">
    <form method="GET" action="/goodsFilter">
        <label for="goodName"></label><input id="goodName" type="search" name="goodName" placeholder="product name">
        <label for="goodCompany"></label><input id="goodCompany" type="search" name="goodCompany"
                                                placeholder="product company">
        <label for="aPlace"></label><input id="aPlace" type="search" name="aPlace" placeholder="assembly place">
        <label for="description"></label><input id="description" type="search" name="description"
                                                placeholder="product description">

        <div class="form-check form-switch" th:each="type : ${types}">
            <input th:text="${type.name}" th:value="${type.name}" class="form-check-input" type="checkbox"
                   role="switch" id="flexSwitchCheckChecked" name="goodType" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
        </div>

        <div class="wrapper">
            <header>
                <h2>Quantity Range</h2>
            </header>
            <div class="quantity-input">
                <div class="field">
                    <span>Min</span>
                    <input name="minQuantity" type="number" class="input-min-q" value="0">
                </div>
                <div class="separator">-</div>
                <div class="field">
                    <span>Max</span>
                    <input name="maxQuantity" type="number" class="input-max-q" value="1000">
                </div>
            </div>
            <div class="sliderq">
                <div class="progressq"></div>
            </div>
            <div class="range-input-q">
                <input type="range" class="range-min-q" min="0" max="1000" value="0" step="10">
                <input type="range" class="range-max-q" min="0" max="1000" value="1000" step="10">
            </div>
        </div>
        <script src="/js/double_slider_quantity.js"></script>

        <div class="wrapper">
            <header>
                <h2>Price Range</h2>
            </header>
            <div class="price-input">
                <div class="field">
                    <span>Min</span>
                    <input name="minPrice" type="number" class="input-min" value="0">
                </div>
                <div class="separator">-</div>
                <div class="field">
                    <span>Max</span>
                    <input name="maxPrice" type="number" class="input-max" value="10000">
                </div>
            </div>
            <div class="slider">
                <div class="progress"></div>
            </div>
            <div class="range-input">
                <input type="range" class="range-min" min="0" max="10000" value="0" step="100">
                <input type="range" class="range-max" min="0" max="10000" value="10000" step="100">
            </div>
        </div>
        <script src="/js/double_slider_price.js"></script>

        <button id="find-by-filter" style="margin: 0 0 0 100px" class="btn btn-warning" type="submit">Find</button>
        <button id="reset-filters" style="margin: 0 100px 0 0" class="btn btn-danger" type="reset">Reset</button>
        <a id="add-good-button" style="margin: 100px 100px 100px 100px"
           class="btn btn-outline-success" th:href="@{/good/add}"
           role="button">Add good</a>
        <br><br><br><br>
    </form>
</div>
</body>
</html>
