<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Order Info</title>
    <div th:replace="fragments/navbar :: header-css"></div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: header"></div>
<script src="/js/nav_ul_li.js"></script>
<script src="/js/scroll.js"></script>

<br><br><br><br><br>

<div class="page-content">
    <div id="order-info">
        <h3>Order info</h3>
        <table>
            <tr>
                <th>id</th>
                <th>ordered at</th>
                <th>for</th>
                <th>delivery address</th>
                <th>delivery date</th>
                <th>status</th>
                <th>price</th>
            </tr>
            <tr>
                <td th:text="${order.id}"></td>
                <td th:text="${order.orderedAt}"></td>
                <td th:text="${order.user.name}"></td>
                <td th:text="${order.deliveryAddress}"></td>
                <td th:text="${order.deliverOn}"></td>
                <td th:text="${order.status.name}"></td>
                <td th:text="${total}"></td>
            </tr>
        </table>
    </div>
    <br> <br> <br>
    <div id="order-items">
        <h3>Order items</h3>
        <table>
            <tr>
                <th>name</th>
                <th>type</th>
                <th>price</th>
                <th>number</th>
                <th>made in</th>
                <th>company</th>
            </tr>
            <th:block th:each="item : ${items}">
                <tr>
                    <td>
                        <a th:href="@{/goodInfo/{id}(id=${item.good.id})}">
                            <span th:text="${item.good.name}"></span>
                        </a>
                    </td>
                    <td th:text="${item.good.appType.name}"></td>
                    <td th:text="${item.good.price}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.good.assemblyPlace}"></td>
                    <td th:text="${item.good.company}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <br>
    <div id="order-actions">
        <form method="POST" action="/order-update-status">
            <input type="hidden" name="order-id" th:value="${order.id}">
            <button sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" id="update-order-status-button" class="btn btn-warning" type="submit">
                Update order status
            </button>
        </form>
    </div>
</div>
</body>
</html>
