<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add New Order</title>
        <div th:replace="fragments/navbar :: header-css"></div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
    <div th:replace="fragments/navbar :: header"></div>
    <script src="/js/nav_ul_li.js"></script>
    <script src="/js/scroll.js"></script>

    <br><br><br><br><br>

    <div class="page-content">
            <div id="start-selecting-items">
                <form method="GET" action="/item-add">
                    Your cart is now empty. Start selecting items:
                    <button id="start-selecting-items-button" class="btn btn-outline-info" type="submit">
                        Go
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
