<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Checkout</title>
        <div th:replace="fragments/navbar :: header-css"></div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
    <div th:replace="fragments/navbar :: header"></div>
    <script src="/js/nav_ul_li.js"></script>
    <script src="/js/scroll.js"></script>

    <br><br><br><br><br>

    <div class="page-content">
            <div id="order-checkout">
                <form method="POST" action="/order-save">
                    <label for="order-user-id">Order for:</label>
                    <br>
                    <select class="form-select" id="order-user-id" name="order-user-id" size="4" required>
                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.name}">
                        </option>
                    </select>
                    <br>
                    <br>
                    <label for="order-delivery-address">Where to deliver:</label>
                    <input class="form-control" maxlength="50" minlength="1" id="order-delivery-address"
                           type="text" name="order-delivery-address" required>
                    <br>
                    <br>
                    <label for="order-deliver-on">When to deliver:</label>
                    <input class="form-control" id="order-deliver-on" type="date"
                           name="order-deliver-on" required>
                    <br>
                    <br>
                    <button id="save-order-button" class="btn btn-outline-success" type="submit">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
