<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Orders</title>
        <div th:replace="fragments/navbar :: header-css"></div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
    <div th:replace="fragments/navbar :: header"></div>
    <script src="/js/nav_ul_li.js"></script>
    <script src="/js/scroll.js"></script>

    <br><br><br><br><br>

    <div class="page-content">
            <form method="GET" action="/order-add">
                <button id="add-order-button" class="btn btn-outline-dark" type="submit">
                    Add new order
                </button>
            </form>
            <br>
            <div id="orders-list">
                <table>
                    <tr>
                        <th>ordered at</th>
                        <th>for</th>
                        <th>delivery address</th>
                        <th>delivery date</th>
                        <th>status</th>
                    </tr>
                    <th:block th:each="order : ${orders.page}">
                        <tr>
                            <td th:text="${order.orderedAt}"></td>
                            <td th:text="${order.user.name}"></td>
                            <td th:text="${order.deliveryAddress}"></td>
                            <td th:text="${order.deliverOn}"></td>
                            <td>
                                <a th:href="'/order-info?order-id=' + ${order.id}">
                                    <span th:text="${order.status.name}"></span>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        <br><br><br><br>

        <footer aria-label="Page navigation" class="paging">
            <ul class="pagination" th:if="${orders.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!orders.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/orders/?pageNumber=' + ${orders.paging.pageNumber - 1}}"
                       tabindex="-1">Previous</a>
                </li>
                <th:block th:each="item : ${orders.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == orders.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/orders/?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!orders.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/orders/?pageNumber=' + ${orders.paging.pageNumber + 1}}">Next</a>
                </li>
            </ul>
        </footer>

        </div>
    </body>
</html>
