<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit User Info</title>
        <div th:replace="fragments/navbar :: header-css"></div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
    <div th:replace="fragments/navbar :: header"></div>
    <script src="/js/nav_ul_li.js"></script>
    <script src="/js/scroll.js"></script>

    <br><br><br><br><br>

        <div class="page-content">
            <div id="user-edit">
                <form method="POST" th:action="${add} ? @{/user/add} : @{/user/save/{id}(id=${user.id})}" th:object="${user}">
<!--
                    <input type="hidden" name="user-id" th:value="${user.id}">
-->
                    <div class="form-group">
                        <label for="fullName">Name</label>
                        <input class="form-control" type="text" th:field="*{name}" id="fullName" placeholder="Full Name">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        <div class="alert alert-danger" th:if="${existsByName}" th:text="${message}"></div>
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input class="form-control" type="text" th:field="*{address}" id="Address" placeholder="Address">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Email">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div class="form-group">
                        <label for="number">Phone</label>
                        <input class="form-control" type="text" th:field="*{number}" id="number" placeholder="Phone">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
                    </div>

                    <div class="form-outline mb-4">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" required th:field="*{password}" id="password">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}"></div>
                    </div>

                    <div>
                        <label>Roles:
                            <input type="checkbox" multiple name="roles"
                                   th:each="role : ${roles}"
                                   th:text="${role}"
                                   th:value="${role.name}"
                                   th:field="*{roles}"
                            />
                        </label>
                    </div>

                    <button id="save-user-button" class="btn btn-success" type="submit">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
