<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<nav>
    <label>Users</label>
    <ul>

        <li><a id="home-link" href="/">Home</a></li>
        <li class="active"><a id="users-link" href="/users">Users</a></li>
        <li><a id="goods-link" href="/goods">Goods</a></li>
        <li><a id="orders-link" href="/orders">Orders</a></li>

    </ul>
</nav>
<script src="/js/nav_ul_li.js"></script>
<script src="/js/scroll.js"></script>
<div class="page-content">
    <form method="GET" action="/user-edit">
        <button id="add-user-button" class="btn" type="submit">
            Add user
        </button>
    </form>
    <br>
    <div id="users-list">
        <table>
            <tr>
                <th>name</th>
                <th>email</th>
            </tr>
            <th:block th:each="user : ${users}">
                <tr>
                    <td>
                        <a th:href="'/user-info?user-id=' + ${user.id}">
                            <span th:text="${user.name}"></span>
                        </a>
                    </td>
                    <td th:text="${user.email}"></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>
