<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <div th:fragment="header-css">
        <link href="/css/common.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/double_slider_p.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    </div>
    <title></title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">OnlineMarketSystem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')">
                            <a class="nav-link" href="/users">Users</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goods">Goods</a>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="isAuthenticated()">
                            <a class="nav-link" href="/orders">Orders</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="GET" action="/goodsFound">
                    <input class="form-control me-2" name="good-query" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
